
html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.section-content {
  padding: 5rem 0 0 0;
}

a {
  color: #e9cb31;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*styles for the navbar */
.navbar-brand, .navbar-brand:visited {
  font-family: 'Dancing Script', cursive;
  color:#e9cb31 !important;
  font-size: 1.8rem;
}

.nav-link {
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  margin: 0 10px;
}

/*cover */
#cover {
  background: #222 url("img/cover-small.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
}

#cover-caption {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

#nav-pointer {
  color: #e9cb31;
  font-size: 1.2rem;
}

/* favorite books */

#favbooks #next-btn,
#favbooks #prev-btn {
  padding: 0.5rem 0;
  display: inline-block;
  color: #e9cb31;
}

#favbooks {
  padding-bottom: 5rem;
}
#favbooks #next-btn {
  float: right;
}

#books-wrap {
 width: 100%;
 height: 30rem;
 overflow: auto;
}

.book {
  background: rgba(0,0,0,0) !important;
}

.book a {
  float: right;
}

.book p {
  padding-top:5rem;
}

#books-wrap::-webkit-scrollbar {
    width: 10px;
}

#books-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(233,203,49, 0.5); 
    box-shadow: inset 0 0 6px rgba(233,203,49, 0.5);
}

#books-wrap::-webkit-scrollbar-thumb {
    background-color: #e9cb31;
    border-radius: 10px;
}

#books-wrap img {
  width: auto;
  float: left;
  margin-right: 0.7rem;
}

#books-wrap h4 {
  color:#e9cb31;
}

/* random quotes */
#quotes {
  background: #222 url("img/apple.jpg") bottom center no-repeat;
  background-size: cover;
  height: 100%;
}

.random-quotes {
  color: #fff;
  padding: 1.8rem;
}

blockquote {
  border-left: 5px solid #e9cb31;
  background-color: rgba(233,203,49, 0.5);
  box-shadow: 5px 5px 5px #e9cb31;
  padding: 0 1rem;
}

blockquote:before {
  content: "\201C ";
  font-size: 1.8rem;
}

blockquote:after {
  content: "\201E";
  font-size: 1.8rem;
}

cite {
  color: #e9cb31;
  font-size: 1rem;
  margin-top: 5px;
  display: block;
}
 
cite:before {
  content: "\2014 \2009";
}

#new-quote {
  color: #e9cb31;
  font-size: 1.2rem;
}

/*latest reviews */
.card {
  border: none;
}

.card .btn {
  background:#e9cb31;
  color: #fff;
  border-radius: 0;
}

.card .btn:hover {
  background: #fff;
  color: #e9cb31;
  border: #e9cb31 1px solid;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0 1rem 0;
}

@media (max-width: 800px) {
  #nav-pointer {
    display: none;
  }
  #books-wrap {
    width: 100%;
    height: 30rem;
    text-align: center;
  }
  #books-wrap img {
    height: 10rem;
    float: none;
  }
  .book p {
  padding-top: 0;
  }
}